SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=example@gmail.com
SPRING_MAIL_PASSWORD=your-app-password-here

POSTGRES_URL=your-postgres-url-here
POSTGRES_PASSWORD=your-postgres-password

ACCOUNT_SID=your-account-sid
AUTH_TOKEN=your-auth-token
SERVICE_SID=your-service-sid

AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=your-aws-bucket-name