# Development override - Always rebuilds without cache
# Usage: docker-compose -f docker-compose.yml -f docker-compose.dev.yml up app-dev

version: "3.9"

services:
  app-dev:
    build:
      context: .
      dockerfile: dockerfile
      no_cache: true
      pull: true
