spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/pharma-aggregator?charSet=UTF8
    username: postgres
    password: Tiamed!!
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  swagger-ui:
    enabled: true
    try-it-out-enabled: true


